importFrom(methods,new,setMethod,setGeneric)
importMethodsFrom(methods,show)
importFrom(GenomicAlignments,summarizeOverlaps)
importMethodsFrom(rtracklayer,export)
importFrom(Rsamtools,BamFile)
import(BSgenome)
importFrom(MASS,fitdistr)
import(GenomicRanges)
importFrom(parallel,mclapply)
importFrom(GenomeInfoDb,Seqinfo,seqlengths)
importFrom(SummarizedExperiment,assays)
importFrom(methods,callNextMethod)
importFrom(stats,qnbinom)
importFrom(utils,read.table,write.table)

exportClasses(GreyList)
exportMethods(getKaryotype,
              loadKaryotype,
              setRegions,
              countReads,
              calcThreshold,
              makeGreyList,
              export,
              show
)
export(greyListBS)
